name: pkgdown

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  pkgdown:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install non-CRAN dependencies
        shell: Rscript {0}
        run: |
          options(repos = c(
            mrcide = "https://mrc-ide.r-universe.dev",
            CRAN = "https://cloud.r-project.org"
          ))
          install.packages(c("dust2", "monty", "odin2", "squire"), dependencies = TRUE)

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::pkgdown, local::.
          needs: website

      - name: Build site
        shell: Rscript {0}
        run: pkgdown::build_site_github_pages(new_process = FALSE, install = FALSE)
